.description{
    display: flex;
    width: 80%;
    height: 400px;
    margin-top: 50px;
   justify-content: space-around;
   box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.499);

}

.partie_img{
    height: 400px;
    width: 30%;
    margin-top: 40px;
}

.partie_detail_produit{

    height: 400px;
    width: 70%;
    padding: 10px;
}
.border_title{
    border-bottom: 1px solid rgba(128, 128, 128, 0.285);
    margin-bottom: 20px;
    margin-top: 5px;
}
.txt-marque{
    font-size: 15px;
    font-weight: bold; 
    margin-bottom: 10px;
    margin-top: 10px;
}
.txt-detail{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold; 
   
}
.txt_description{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid gray;
}
.detail{
    width: 80%;
    height: 400px;
    margin-top: 20px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.499);
}
.descrep{
    margin-top: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.page_detail{
  height: 1000px;
}
.style_prix{
    font-size: 28px;
    font-weight: bolder;
}
.contenur-icon{
    width: 25px;
    height: 25px;
    background-color: orange;
    color: white;
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    margin-right: 5px;
}
.btn_acheter{
    background-color: orange;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
}
.input_quantite{
    width:40px;
    height: 20px;
    margin-left: 5px;
}
.btn_acheter:hover{
box-shadow: 3px 3px 15px rgba(128, 128, 128, 0.296);
}