.ligne1_footer{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.ligne2_footer{
    display: flex;
    border-top: 1px solid white;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 20px;
    font-size: 13px;
   
}
.bg_footer{
    background-color: rgba(0, 0, 0, 0.832);
    
}
.product{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.list_categorie{
    font-size: 10px;
}
.contact{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.list_contact{
    font-size: 10px;
}


.media{
    margin-top: 40px;
    font-size: 12px;
}
.lien_media{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.boom{
    margin-top: 40px;
    font-size: 20px;
}
a{
    color: white;
}
a:hover{
   color: orange; 
}
