.bar-menu{
    
    background-color:white;
    width: 100%;
    height: 100px;
}
.menu{
    display: flex;
   
}
.logo{
    width: 150px;
    height: 100px;
 
}
.menu-berger{
    margin-top: 30px;
  
}
.list-menu{
   width: 21%;
   height: 200px;
   background-color:white;
   display: block;
   position: absolute;
   color: white;
   margin-top: 10px;
   box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.585);
   
   
}
.list-link{
   padding: 20px;
}

  .list-link a {
text-decoration: none;
color: black;

}

.sous-menu1{
    position: absolute;
    background-color:white;
    color:black;
    width: 800px;
    height: 200px;
    margin-left: 220px;
    margin-top: -44px;
    display: none;
    border-left: 2px solid rgba(128, 128, 128, 0.58);
    box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.585);
}
.sous-menu2{
    position: absolute;
    background-color:white;
    color:black;
    width: 800px;
    height: 200px;
    margin-left: 220px;
    margin-top: -68px;
    display: none;
    border-left: 2px solid rgba(128, 128, 128, 0.58);
    box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.585);
}
.sous-menu3{
    position: absolute;
    background-color:white;
    color:black;
    width: 800px;
    height: 200px;
    margin-left: 220px;
    margin-top: -92px;
    display: none;
    border-left: 2px solid rgba(128, 128, 128, 0.58);
    box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.585);
}
.sous-menu4{
    position: absolute;
    background-color:white;
    color:black;
    width: 850px;
    height: 200px;
    margin-left: 220px;
    margin-top: -116px;
    display: none;
    border-left: 2px solid rgba(128, 128, 128, 0.58);
    box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.585);
}
.link1{
    position: relative;
}
.link2{
    position: relative;
}
.link3{
    position: relative;
}
.link4{
    position: relative;
}
.list-link a:hover{
    color:orange
}
.link1:hover >.sous-menu1{
    display: block;
}
.link2:hover >.sous-menu2{
    display: block;
}
.link3:hover >.sous-menu3{
    display: block;
}
.link4:hover >.sous-menu4{
    display: block;
}
.téléphone-portable{
    display: flex;
    justify-content: space-between;
   
}
.téléphone-portable li{
    margin: 10px;
}


.list-menu li{
    list-style: none;
}

.input-recherche{
    margin-top: 35px;
    font-size: 12px;
    width:450px;
    padding: 10px;

}

.bouton-recherche{
    color: white;
    background-color: rgb(255, 167, 4);
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 8px;
    box-shadow: 2px 3px 5px gray;
    
}

.cnx{
   display: flex;
   color: black;
}
a {
    text-decoration: none;
}
.compte{
    margin-top: 40px;
    margin-left: 20px;
}
.icon_compte{
    font-size: 25px;
    margin-left: 20px;
    margin-right: 10px;
    color: black;
}
.lien_compte{
    font-size:15px ;
    font-weight: bold;
    color:black
}
.compte_c{
    display: flex;
}
.lien_icon{
    color: black;
    margin-top: 40px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}
.pannier{
    display: flex;
    
}
a :hover{
    color: orange;
}
.icon-profile{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;
    color: black;
  

}
.notification{
    position: relative;
}
.cercle{
    background-color: orange;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    right: -3px;
    border: 2px solid white;
    font-weight: bold;  
}
.nbre_commandes{
    margin-top: -1px;
    text-align: center;
    font-size: 12px;
}


